<launch>
	<env name="ROS_IP" value="192.168.1.149"/>

	<arg name="fcu_url" default="serial:///dev/ttyUSB0:921600" />
	<arg name="gcs_url" default="udp://:14556@$(env ROS_IP):14550" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="50" />
 
	<include file="$(find mavros)/launch/node.launch">
        <arg name="pluginlists_yaml" value="$(find navigation)/launch/px4_pluginlists.yaml" />
        <arg name="config_yaml" value="$(find navigation)/launch/px4_config.yaml" />

        <arg name="fcu_url" value="$(arg fcu_url)" />
        <arg name="gcs_url" value="$(arg gcs_url)" />
        <arg name="tgt_system" value="$(arg tgt_system)" />
        <arg name="tgt_component" value="$(arg tgt_component)" />
    </include>

    <include file="$(find usb_cam)/launch/usb_cam.launch" />

    <node name="ptam" pkg="ptam" type="ptam" clear_params="true" output="screen">
	    <remap from="image" to="$(optenv IMAGE /camera/image_rect)" />
        <remap from="pose" to="pose"/>
	    <rosparam file="$(find ptam)/PtamFixParams.yaml"/>
    </node>

    <!-- <node name="ptam_translator" pkg="navigation" type="ptam_translator.py" output="screen">
    </node> -->

    <node name="position_node" pkg="navigation" type="position_node.py" output="screen">
    </node>
</launch>
