<launch>

	<arg name="fcu_url" default="serial:///dev/ttyACM0:921600" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="50" />
 
	<node name="mavros" pkg="mavros" type="mavros_node" output="screen">
		<param name="fcu_url" value="$(arg fcu_url)" />
		<param name="target_system_id" value="$(arg tgt_system)" />
		<param name="target_component_id" value="$(arg tgt_component)" />
 
		<rosparam command="load" file="$(find navigation)/launch/px4_config.yaml" />
 
	</node>
</launch>